<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">Daniel</div>
    <div class="subtitle">Fullstack Coder bros in the wilderness</div>
  </div>
  <div class="platform">Responsive Website</div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("daniel/browser1.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("daniel/screen1.png")%>
    <%= image_tag("daniel/screen2.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("daniel/browser2.png")%>
  </div>
</div>
<div class="project-padded" style="height: 1065px;">
  <div class="center">
    <span></span>
    <%= image_tag("daniel/screen3.png", :style => 'max-height: 92%;')%>
  </div>
</div>
<a href="/tnt" class="project-linked">
  <%= image_tag("projects-linked/tnt.jpg")%>
  <div class="copy">
    <span class="title">TNT</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/kanga" class="project-linked">
  <%= image_tag("projects-linked/kanga.jpg")%>
  <div class="copy">
    <span class="title">Kanga</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>