<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">Kanga</div>
    <div class="subtitle">Local peer-to-peer shipping on your phone.</div>
  </div>
  <div class="platform">iOs &amp; Android App</div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("kanga/screen1.png")%>
    <%= image_tag("kanga/screen2.png")%>
  </div>
</div>
<div class="project-caption">
  <span>Shipment Filter</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("kanga/screen3.png")%>
  </div>
</div>
<div class="project-caption">
  <span>Shipment Details</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("kanga/screen4.png", :class => 'small')%>
    <%= image_tag("kanga/screen5.png")%>
    <%= image_tag("kanga/screen6.png", :class => 'small')%>
  </div>
</div>
<a href="/daniel" class="project-linked">
  <%= image_tag("projects-linked/daniel.jpg")%>
  <div class="copy">
    <span class="title">Daniel</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/storybook" class="project-linked">
  <%= image_tag("projects-linked/storybook.jpg")%>
  <div class="copy">
    <span class="title">Storybook</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>