<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">Lvl Cam</div>
    <div class="subtitle">The best camera app for taking perfectly level photos on your iPhone.</div>
  </div>
  <div class="platform">iOS App</div>
</div>
<%= image_tag("lvlcam/lvlcam1.jpg", :class => 'project-fullsize')%>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("lvlcam/screen1.png")%>
    <%= image_tag("lvlcam/screen2.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("lvlcam/screen3.png")%>
  </div>
</div>
<div class="project-caption">
  <span>#LVLCAM on Instagram & Gallery View</span>
</div>
<div class="project-padded">
  <div class="center" style="width: 100%;">
    <span></span>
    <%= image_tag("lvlcam/grid.jpg", :id => 'lvl-grid')%>
    <%= image_tag("lvlcam/screen4.png", :id => 'lvl-screen4')%>
  </div>
</div>
<div class="project-caption">
  <span>Grid, Auto Focus & Exposure, Ghosting</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("lvlcam/screen5.png")%>
    <%= image_tag("lvlcam/screen6.png")%>
    <%= image_tag("lvlcam/screen7.png")%>
  </div>
</div>
<%= image_tag("lvlcam/lvlcam2.jpg", :class => 'project-fullsize')%>
<div class="contact project-download">
  <div class="wrapper">
    <div class="tag">Download lvlcam</div>
    <a href="https://itunes.apple.com/us/app/lvl-cam/id706518187?mt=8#" target="_blank" class="block">iOS</a>
  </div>
</div>
<a href="/storybook" class="project-linked">
  <%= image_tag("projects-linked/storybook.jpg")%>
  <div class="copy">
    <span class="title">Storybook</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/scraffle" class="project-linked">
  <%= image_tag("projects-linked/scraffle.jpg")%>
  <div class="copy">
    <span class="title">Scraffle</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>