<div class="intro" id="top">
  <%= image_tag("dominants/roster.jpg", :class => 'dominant') %>
  <div class="logo">Roster</div>
  <div class="title">Talent from ATL, NYC, &amp; SF available for hire.</div>
  <a href="#contact" class="arrow"><%= image_tag("arrows/ArrowDown.png") %></a>
  <%= render 'layouts/nav' %>
</div>
<div class="names">
  <div>
    <a href="#mike">Mike Boutte</a>
    <a href="#sean">Sean Metcalf</a>
    <a href="#dave">Dave Ranney</a>
    <a href="#mark">Mark Weaver</a>
    <a href="#chris">Chris Barnes</a>
    <a href="#graeme">Graeme Nelson</a>
    <a href="#keith">Keith Weiver</a>
  </div>
</div>
<div class="player" id="mike">
  <div class="info">
    <%= image_tag("roster/mike.jpg", :class => 'propic') %>
    <div class="name">Mike Boutte</div>
    <div class="city">Designer, ATL</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">mikeboutte.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="sean">
  <div class="info">
    <%= image_tag("roster/sean.jpg", :class => 'propic') %>
    <div class="name">Sean Metcalf</div>
    <div class="city">Designer, SF</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">seanmetcalf.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="dave">
  <div class="info">
    <%= image_tag("roster/dave.jpg", :class => 'propic') %>
    <div class="name">Dave Ranney</div>
    <div class="city">Designer, ATL</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">madewithkin.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="mark">
  <div class="info">
    <%= image_tag("roster/mark.jpg", :class => 'propic') %>
    <div class="name">Mark Weaver</div>
    <div class="city">Designer, NYC</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">mrkwvr.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="chris">
  <div class="info">
    <%= image_tag("roster/chris.jpg", :class => 'propic') %>
    <div class="name">Chris Barnes</div>
    <div class="city">Developer, ATL</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">inthepin.es</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="graeme">
  <div class="info">
    <%= image_tag("roster/graeme.jpg", :class => 'propic') %>
    <div class="name">Graeme Nelson</div>
    <div class="city">Cofounder &amp; Designer, ATL</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">graemenelson.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="player" id="keith">
  <div class="info">
    <%= image_tag("roster/keith.jpg", :class => 'propic') %>
    <div class="name">Keith Weaver</div>
    <div class="city">Cofounder &amp; Designer, ATL</div>
    <div class="details">
      <p>Bio goes here</p>
      <h1>Clients</h1>
      <p>List out clients</p>
      <h1>Expertise</h1>
      <p>Describe what you do (i.e. design, ux, lightroom)</p>
      <h1>Contact</h1>
      <p>mike@madebyallies.com</p>
    </div>
    <a href="" class="block">keithweaver.com</a>
  </div>
  <div class="images">
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
    <%= image_tag("nighthawks.jpg") %>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="contact contact-roster" id="contact">
  <div class="tag">The Allies are not superheroes</div>
  <a href="" class="block">get in touch</a>
  <a href="#top" class="arrow"><%= image_tag("arrows/ArrowUp.png") %><a>
</div>