<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">Scraffle</div>
    <div class="subtitle">Scratch off tickets on your phone that get you discounts at your favorite restaurants and bars.</div>
  </div>
  <div class="platform">iOS App</div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("scraffle/screen1.png", :class => 'small')%>
    <%= image_tag("scraffle/screen2.png")%>
    <%= image_tag("scraffle/screen3.png", :class => 'small')%>
  </div>
</div>
<div class="project-caption">
  <span>Recieve a scratch off ticket each time you enter your favorite bar or restaurant.</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("scraffle/screen4.png")%>
    <%= image_tag("scraffle/screen5.png")%>
  </div>
</div>
<div class="project-caption">
  <span>Spin the Jackpot after so many plays, to win big money.</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("scraffle/screen6.png", :class => 'small')%>
    <%= image_tag("scraffle/screen7.png")%>
    <%= image_tag("scraffle/screen8.png", :class => 'small')%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("scraffle/screen9.png")%>
  </div>
</div>
<a href="/lvlcam" class="project-linked">
  <%= image_tag("projects-linked/lvlcam.jpg")%>
  <div class="copy">
    <span class="title">LVL Cam</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/tnt" class="project-linked">
  <%= image_tag("projects-linked/tnt.jpg")%>
  <div class="copy">
    <span class="title">TNT</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>