<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">Storybook</div>
    <div class="subtitle">Record your kid’s favorite stories and read it to them in your own voice.</div>
  </div>
  <div class="platform">iPad &amp; iPhone App</div>
</div>
<%= image_tag("storybook/storybook1.jpg", :class => 'project-fullsize')%>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("storybook/ipad1.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("storybook/screen1.png")%>
    <%= image_tag("storybook/screen2.png")%>
  </div>
</div>
<div class="project-caption">
  <span>Record books and send to your loved ones using Storybook.</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("storybook/ipad2.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("storybook/screen3.png")%>
    <%= image_tag("storybook/screen4.png")%>
  </div>
</div>
<div class="contact project-download">
  <div class="wrapper">
    <div class="tag">Download Storybook</div>
    <a href="https://itunes.apple.com/us/app/storybook-reading/id819059673?mt=8#" target="_blank" class="block">iOS</a>
  </div>
</div>
<a href="/kanga" class="project-linked">
  <%= image_tag("projects-linked/kanga.jpg")%>
  <div class="copy">
    <span class="title">Kanga</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/lvlcam" class="project-linked">
  <%= image_tag("projects-linked/lvlcam.jpg")%>
  <div class="copy">
    <span class="title">LVL Cam</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>