<div class="project-header" id="top">
  <%= render 'layouts/nav' %>
  <a href="/projects"><%= image_tag("arrows/ArrowDownBlack.png", :class => 'arrow')%></a>
  <div class="header">
    <div class="title">TNT</div>
    <div class="subtitle">Program concept</div>
  </div>
  <div class="platform">Website &amp; TV UI</div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("tnt/browser1.png")%>
  </div>
</div>
<div class="project-caption">
  <span>DESKTOP UI</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("tnt/screen1.png")%>
    <%= image_tag("tnt/screen2.png")%>
  </div>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("tnt/browser2.png")%>
  </div>
</div>
<div class="project-caption">
  <span>TV UI</span>
</div>
<div class="project-padded">
  <div class="center">
    <span></span>
    <%= image_tag("tnt/screen3.png")%>
  </div>
</div>
<a href="/scraffle" class="project-linked">
  <%= image_tag("projects-linked/scraffle.jpg")%>
  <div class="copy">
    <span class="title">Scraffle</span><br />
    <span class="subtitle">Previous Project</span>
  </div>
</a>
<a href="/daniel" class="project-linked">
  <%= image_tag("projects-linked/daniel.jpg")%>
  <div class="copy">
    <span class="title">Daniel</span><br />
    <span class="subtitle">Next Project</span>
  </div>
</a>
<div style="clear: both;"></div>
<a href="#top" class="project-up">
  <%= image_tag("arrows/ArrowUp.png")%>
</a>